<!DOCTYPE html>
<html lang="ro">
<head>
    @{meta}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=1024, user-scalable=yes" />
    <meta name="robots" content="all,follow" />
    @{head}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @{js('default.js')}
    @{favicon('favicon.ico')}

    <meta charset="utf-8">

    <meta property="og:description" content="Un instalator sau electrician de incredere greu de gasit? Mestereste.ro va ofera solutia.">
    <meta property="og:title" content="vdi-thin-clients">
    <meta name="twitter:description" content="Un instalator sau electrician de incredere greu de gasit? Mestereste.ro va ofera solutia.">
    <meta name="twitter:title" content="mestereste.ro">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" >
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="apple-touch-icon" href="/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon_iphone.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon_ipad.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon_retina.png">

    <!--[if lt IE 9]>
    <script src="https://static.hsappstatic.net/content_shared_assets/static-1.3833/js/css3-mediaqueries.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width">
    @{css('bootstrap.css')}
    @{css('czsale.css')}
    @{css('czsale-responsive.css')}

</head>
<body>
<div class="container wrapper">
<!-- Logo -->
<div class="logo">
    <a href="/"><img src="/img/logo.png"></a>
</div>
<!-- /Logo -->
<!-- Static navbar -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#czsale-navbar">
            <span class="sr-only">Meniu Principal</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="czsale-navbar">
        <a href="addClassified.html" class="btn btn-success navbar-btn add-classified-btn navbar-left" role="button">Adauga lucrare</a>
        <ul class="nav navbar-nav navbar-right">
            
            <li><a href="/mesteri/view-all">Gaseste mesteri</a></li>
            <li><a href="/despre">Despre</a></li>
            <li><a href="/contact">Contact</a></li>
            
            <li><a href="signUp.html">Inregistrare</a></li>
            
        </ul>
    </div>
</nav>
<!-- /Static navbar -->
<!-- Content -->
<div class="row content">
    <div class="col-lg-3 content-left">
        @{view('left_column')}

    </div>
    <div class="col-lg-9 content-right">
        @{body}
    </div>
</div>
<!-- /Content -->
<div class="footer">
    <div class="well well-sm">
        <div class="pull-right">
            <ul class="nav nav-pills">
                <li><a href="/despre">Despre</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/termeni-si-conditii">Termeni si conditii</a></li>
            </ul>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
    <div class="pull-right">
        <p class="text-muted"><small>&copy; 2014 Mestereste.ro - All Rights Reserved.</small></p>
    </div>
</div>
</div>
<!-- JS -->

@{js('jquery-1.10.2.min.js')}
@{js('bootstrap.min.js')}
@{js('respond.min.js')}
@{js('jquery.slides.min.js')}

<script>
    $( document ).ready(function() {
        // Drop down menu handler
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
        // Slider
        $("#slides").slidesjs({
            width: 900,
            height: 300,
            navigation: false,
            play: {
                active: false,
                effect: "slide",
                interval: 4000,
                auto: true,
                swap: false,
                pauseOnHover: true,
                restartDelay: 2500
            }
        });
    });
</script>
<!-- /JS -->
</body>
</html>