<h4>Cauta</h4>
<div class="well well-sm">
    <form>
        <fieldset>
            <input type="text" class="form-control" />
            <small><a href="#" class="btn-advanced-search">Avansat</a></small>
            <input type="submit" class="btn btn-danger btn-sm btn-search" value="Search" />
        </fieldset>
    </form>
</div>

<h4>Domenii</h4>

<div class="list-group categories">

    @{foreach cat in repository.categorii}
        <a href="/mesteri/view-all/0/@{cat.id}" class="list-group-item">@{cat.nume} <span class="glyphicon glyphicon-chevron-right"></span></a>
    @{end}

</div>
<h4>Lucrari recente</h4>
<div class="newest-classifieds">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64/e0e0e0" />
        </a>
        <div class="media-body">
            <p><a href="#"><strong>Schimbare termostat calorifer</strong></a></p>
            <p>Vreau un pret care sa includa si termostatul. Reparatia se poate face doar dupa ora 19 sau in weekend.</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64/e0e0e0" />
        </a>
        <div class="media-body">
            <p><a href="#"><strong>Amenanjare apartament + renovari interioare</strong></a></p>
            <p>Persoana fizica caut firma(echipa) in vederea executarii unor lucrari de amenajare apartament 2 camere.Amenajarea consta in reparatii sau eventual glet de finisaj, vopsea lavabila,montat parchet laminat,montat gresie faianta in baie aproximativ 22 metri patrati.Apartamentul are o suprafata de 64 metri.</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64/e0e0e0" />
        </a>
        <div class="media-body">
            <p><a href="#"><strong>Renovare baie</strong></a></p>
            <p>Vreau sa renovez baia din apartament care ar necesita urmatoarele lucrari: demontarea faiantei si a gresiei, demontarea obiectelor sanitare (cada , lavoar si wc), montare faianta si gresie, montare obiecte sanitare, inclusiv accesorii.
Tavanul se va zugravi. Suprafata baii este de 2x2,5 m, adica 5mp si inaltimea de 2,5 m.</p>
        </div>
    </div>
    <p class="text-right show-more"><a href="#">More &rarr;</a></p>
</div>