<h4>Cauta</h4>
<div class="well well-sm">
    <form>
        <fieldset>
            <input type="text" class="form-control" />
            <small><a href="#" class="btn-advanced-search">Avansat</a></small>
            <input type="submit" class="btn btn-danger btn-sm btn-search" value="Search" />
        </fieldset>
    </form>
</div>
<h4>Categorii</h4>
<div class="list-group categories">

    @{foreach cat in repository.categorii}
        <a href="/mesteri/view-all/0/@{cat.id}" class="list-group-item">@{cat.nume} <span class="glyphicon glyphicon-chevron-right"></span></a>
    @{end}

</div>
<h4>Lucrari recente</h4>
<div class="newest-classifieds">
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64/e0e0e0" />
        </a>
        <div class="media-body">
            <p><a href="#"><strong>Schimbat gresie</strong></a></p>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel ...</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64/e0e0e0" />
        </a>
        <div class="media-body">
            <p><a href="#"><strong>Vizio 60" Slim Frame 3D LED</strong></a></p>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel ...</p>
        </div>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" style="width: 64px; height: 64px;" src="http://placehold.it/64x64/e0e0e0" />
        </a>
        <div class="media-body">
            <p><a href="#"><strong>Apple McBook Pro</strong></a></p>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel ...</p>
        </div>
    </div>
    <p class="text-right show-more"><a href="#">More &rarr;</a></p>
</div>