<ol class="breadcrumb">
            <li><a href="index.html">Acasa</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ol>
          <h2>Contact</h2>
          <div class="row">
            <div class="col-md-8">
              <iframe src="http://mapsengine.google.com/map/embed?mid=z-BEFzFo7gdM.kYdiUKVQpQQI" style="border: none; width: 100%; height: 400px;"></iframe>  
            </div>
            <div class="col-md-4">
              <div class="well well-sm">
                <address>
                  <strong>Centrul Regional de Afaceri</strong><br />
                  Timisoara<br />
                  Timis<br />
                  <abbr title="Telefon">P:</abbr> (123) 456-7890
                </address>
                <address>
                  <strong>Echipa Legendary - HackTM</strong><br />
                  <a href="mailto:#">office@mestereste.ro</a>
                </address>
              </div> 
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">                
                  <form action="#" method="POST">
                    <div class="form-group">
                      <label for="InputEmail">Email</label>
                      <input type="email" class="form-control" id="InputEmail" placeholder="Introdu adresa de email">
                    </div>
                    <div class="form-group">
                      <label for="InputSubject">Subiect</label>
                      <input type="email" class="form-control" id="InputSubject" placeholder="Despre ce e vorba">
                    </div>
                    <div class="form-group">
                      <label for="InputText">Mesaj</label>
                      <textarea class="form-control" id="InputText" name="message" placeholder="Introdu mesajul tau" rows="5" style="margin-bottom:10px;"></textarea>
                    </div>
                    <button class="btn btn-info" type="submit">Trimite</button>
                  </form>
                </div>
              </div>
            </div>
          </div>